name: Main Suite

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
  validate:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    name: Validate Build
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 18.x

      - name: Yarn Why Prettier
        run: yarn why prettier

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Generate
        run: |
          yarn workspace @openapi-qraft/react run generate-types
          yarn workspace @openapi-qraft/react run generate-qraft

      - name: Unit Testing
        run: yarn test

      - name: Linting
        run: yarn lint