name: Deploy to GitHub Pages

on:
  push:
    paths:
      - 'website/**'
      - 'package.json'
      - 'yarn.lock'
      - 'tsconfig.json'
      - '.yarnrc.yml'
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 18.x

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint Documentation
        run: yarn workspace openapi-qraft-website run lint

      - name: Build website
        run: yarn workspace openapi-qraft-website run build

      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./website/build

      - name: Update Algolia index
        uses: darrenjennings/algolia-docsearch-action@v0.2.0
        with:
          algolia_application_id: ${{ vars.ALGOLIA_APP_ID }}
          algolia_api_key: ${{ secrets.ALGOLIA_WRITE_API_KEY }}
          file: 'website/tools/algolia/config.json'
